.App {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  width: 70%;
  margin-top: 40px;
  height: 650px;
  float: right;
  /*border-style: solid;*/
}

.m-contain {

}


h1 {
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: -5px;
  font: system-ui;
}

.p-contain h4 {
  font-size: 19px;
  color: green;
  display: inline;
}

.p-contain h2, h3, h4 {
  margin-left: 50px;
  font-weight: bold;
}

.p-contain a {
  display: inline;
  float: right;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  padding-right: 10px;
}


.p-contain {
  padding-right: 50px;
  margin-top: 40px;
  color: black;
  float: right;
  width: 24%;
  height: 650px;
  font-size: 14px;
  overflow-y:scroll;
  margin-right: 10px;
  text-align: left;
}


.place {
  border-style: solid;
  -webkit-backdrop-filter: blur(5px);

  background: rgba(255, 255, 255, .5);
}

::-webkit-scrollbar { 
  display: none; 
}

.save, .pure-button {
  height: 40px;
  width: 150px;
  border: 2px solid;
  margin: 10px 10px 10px 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background-color:none;
  text-decoration: none;
  background-color: transparent;
  font-size: .8em;
  letter-spacing: 1.5px;
}

.save:hover, .pure-button:hover {
  border: 5px solid;
}

body:after {
  background-image: url("onebr1.png");
  content : "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity : 0.9;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.f-input::placeholder {
  color:black;
  opacity:0.9;
}

.f-input {
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  width:10%;
  height: 10px;
  box-sizing: border-box;
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  line-height: 15px;
  text-align:left;
  margin-right: 20px;
  margin-left: 10px;
}

.f-input:focus { 
border:2px solid #3a3939; }

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

.price-t {
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  width:10%;
  box-sizing: border-box;
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  line-height: 15px;
  text-align:left;
   margin-right: 20px;
   margin-left: 10px;

 }



